<div *ngIf="dataLoaded==false" class="spinner-grow" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded!=false" class="table">
    <thead>
        <tr>
            <th>İd</th>
            <th>Kullanıcı id</th>
            <th>Başlık</th>
            <th>Tamamlama</th>
        </tr>
    </thead>
    <tr *ngFor="let todo of todos" >
        <td>{{todo.id}}</td>
        <td>{{todo.userId}}</td>
        <td>{{todo.title}}</td>
        <td>{{todo.completed}}</td>
    </tr>
</table>
